*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}

.inner-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 1366px;
}

.offer{
  color: black;
  display: flex;
  justify-content: center; 
  background-color: beige;
}
.offer-inner{
  width: 1366px;
  text-align: justify;
}


.outer{
display: flex;
justify-content: center;
}
.inner{
 width: 1366px; 
}

.outer-tour-package{
  background-color: #f9f9f9;
}